// BaseURL
$base-url: "";

$closebutton-image: "#{$base-url}/images/cross.png";
$cclogo-image:      "#{$base-url}/images/cookie-consent-logo.png";
$globe-image:       "#{$base-url}/images/globe.png";
$modalclose-image:  "#{$base-url}/images/modal-close.png";
$silktide-image:    "#{$base-url}/images/silktide-logo.png";